.row {
    @include outer-container($screen-xs-size);

    @include media($screen-sm) {
        @include outer-container($screen-sm-size);
    }

    @include media($screen-md) {
        @include outer-container($screen-md-size);
    }

    @include media($screen-lg) {
        @include outer-container($screen-lg-size);
    }
}

.col12 {
    @include span-columns(12);
}

.col11 {
    @include span-columns(11);
}

.col10 {
    @include span-columns(10);
}

.col9 {
    @include span-columns(9);
}

.col8 {
    @include span-columns(8);
}

.col7 {
    @include span-columns(7);
}

.col6 {
    @include span-columns(6);
}

.col5 {
    @include span-columns(5);
}

.col4 {
    @include span-columns(4);
}

.col3 {
    @include span-columns(3);
}

.col2 {
    @include span-columns(2);
}

.col1 {
    @include span-columns(1);
}

.offset-1 {
    @include shift(1);
}

$gutter: 40;
$sgutter: 80;

.extra-gutter {
    padding-left: em($gutter/2);
    padding-right: em($gutter/2);
    
    @include media($screen-md) {
        padding-left: em($gutter);
        padding-right: em($gutter);
    }
}

.super-gutter {
    padding-left: em($sgutter/2);
    padding-right: em($sgutter/2);
    
    @include media($screen-md) {
        padding-left: em($sgutter);
        padding-right: em($sgutter);
    }
}

.extra-gutter-left {
    padding-left: em($gutter/2);
    
    @include media($screen-md) {
        padding-left: em($gutter);
    }
}

.extra-gutter-right {
    padding-right: em($gutter/2);
    
    @include media($screen-md) {
        padding-right: em($gutter);
    }
}